<div class="container-fluid table-responsive-sm">
  <h3 class="text-light display-4">POSTS</h3>
  <table class="table table-hover responsive-sm table-bordered table-light text-center">
    <thead class="thead-active">
      <tr>
        <th>ID</th>
        <th>Post Title</th>
        <th>Post Text</th>
        <th>Post IMG</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      <tr>
        <th>SEARCH IN POSTS:</th>
        <th><input type="text" placeholder="Search by Title" name="searchByTitle" id="searchByTitle"
            ng-model="searchByTitle" size="6" /></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="post in blog_post | filter:{post_title:searchByTitle}">
        <!-- <td>{{$index}}</td> -->
        <td>{{post.post_id}}</td>
        <td>{{post.post_title}}</td>
        <td>{{post.post_text}}</td>
        <td><img src="../uploads/{{post.post_img}}" alt="{{post.post_img}}" width="100" height="100"></td>
        <td><a href="#!blog_form/{{$index}}"><i class="fa fa-edit"></i></a></td>
        <td><button type="button" title="DELETE" class="btn btn-danger" ng-click="function_getId($index)" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-light">
        <h4 class="modal-title">DELETE POST</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-info" ng-show="infoAlert">
          THIS RECORD CAN NOT BE DELETED!
        </div>
        <div class="alert alert-danger" ng-show="deleteAlert">
          ARE YOU SURE YOU WANT TO DELETE POST {{blog_post[getId].post_title}}..?
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button ng-show="!infoAlert" type="button" class="btn btn-danger"
          ng-click="function_deleteRow('blog_post',blog_post[getId].post_id)">DELETE</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>
