<div class="container-fluid table-responsive-sm">
  <h3 class="text-light display-4">GUIDES</h3>
  <table class="table table-hover responsive-sm table-bordered table-light text-center">
    <thead class="thead-active">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Spoken Language</th>
        <th>IMG</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      <tr>
        <th>SEARCH IN GUIDES:</th>
        <th><input type="text" placeholder="Search by First Name" name="searchByFName" id="searchByFName"
            ng-model="searchByFName" size="6" /></th>
        <th><input type="text" placeholder="Search by Last Name" name="searchByLName" id="searchByLName"
            ng-model="searchByLName" size="6" /></th>
        <th><input type="text" placeholder="Search by Language" name="searchByLanguage" id="searchByLanguage"
            ng-model="searchByLanguage" size="6" /></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="guide in guides | filter:{first_name:searchByFName,last_name:searchByLName,spoken_language:searchByLanguage}">
        <!-- <td>{{$index}}</td> -->
        <td>{{guide.guide_id}}</td>
        <td>{{guide.first_name}}</td>
        <td>{{guide.last_name}}</td>
        <td>{{guide.spoken_language}}</td>
        <td><img style="width:80px;height:80px;" ng-src="../uploads/{{guide.guide_img}}" alt="{{guides[getId].guide_img}}" /></td>
        <td><a href="#!guides_form/{{$index}}"><i class="fa fa-edit"></i></a></td>
        <td><button type="button" title="DELETE" class="btn btn-danger" ng-click="function_getId($index);function_deleteRowGuides(guide.guide_id)" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-light">
        <h4 class="modal-title">DELETE GUIDE</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-info" ng-show="infoAlert">
          THIS RECORD CAN NOT BE DELETED!
        </div>
        <div class="alert alert-danger" ng-show="deleteAlert">
          ARE YOU SURE YOU WANT TO DELETE GUIDE {{guides[getId].first_name}}..?
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button ng-show="!infoAlert" type="button" class="btn btn-danger"
          ng-click="function_deleteRow('guides',guides[getId].guide_id)">DELETE</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>
