<div class="container-fluid table-responsive-sm">
  <h3 class="text-light display-4">SUBCATEGORY</h3>
  <table class="table table-hover responsive-sm table-bordered table-light text-center">
    <thead class="thead-active">
      <tr>
        <th>SUBCATEGORY TITLE</th>
        <th>DELETE</th>
      </tr>
      <tr>
        <th><input type="text" placeholder="Search by SUBCATEGORY" name="searchSubcategory" id="searchSubcategory"
            ng-model="searchSubcategory" size="20" /></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="title in subcategory |  filter:{subcategory_title:searchSubcategory}">
        <!-- <td>{{$index}}</td> -->
        <td>{{title.subcategory_title}}</td>
        <td><button type="button" title="DELETE" class="btn btn-danger" data-toggle="modal" data-target="#myModal"
            ng-click="function_getId($index);function_deleteRowSubcategory(title.subcategory_title)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-light">
        <h4 class="modal-title">DELETE SUBCATEGORY</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-info" ng-show="infoAlert">
          THIS RECORD CAN NOT BE DELETED!
        </div>
        <div class="alert alert-danger" ng-show="deleteAlert">
          ARE YOU SURE YOU WANT TO DELETE SUBCATEGORY {{subcategory[getId].subcategory_title}}..?
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button ng-show="!infoAlert" type="button" class="btn btn-danger"
          ng-click="function_deleteRow('subcategory',subcategory[getId].subcategory_title)">DELETE</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>