<div class="container">
  <h3 class="text-light display-4 text-light">NEW SUBCATEGORY</h3>
<div class="alert alert-success" ng-show="successAlert">
  You entered subcategory successfuly!
</div>
<div class="alert alert-success" ng-show="successfullAlert">
  You updated this subcategory successfuly!
</div>
<div class="alert alert-danger" ng-show="dangerAlert">
  Please fill in the form correctly!
</div>
<div class="alert alert-info" ng-show="infoAlert">
  The record already exists!
</div>
<form name="myForm" class="text-light">
  <div class="form-group">
    <label for="subcategory_title">Subcategory title:</label>
    <div ng-show="myForm.subcategory_title.$invalid"></div>
    <input type="text" class="form-control" placeholder="insert subcategory title" name="subcategory_title"
      id="subcategory_title" ng-model="subcategory[checkUrl].subcategory_title" ng-maxlength="50" required />
  </div>
  <div class="form-group">
    <button ng-show="checkUrl===undefined" class="btn btn-secondary"
      ng-click="(myForm.subcategory_title.$valid) 
      ? function_subcategory_form(subcategory[checkUrl].subcategory_title, 'insert') : function_error()">SAVE</button>
  </div>
</form>
</div>