<div class="container">
  <div class="row">
    <div class="col-6">
      <p class="text-light text-center display-4">Contact US</p>
      <div class="alert alert-success" ng-show="successAlert">
        You send the message successfuly!
      </div>
      <div class="alert alert-danger" ng-show="dangerAlert">
        Please fill in the form correctly!
      </div>
      <div class="container">
        <form name="myForm" class="text-light form-myForm">
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <div ng-show="myForm.first_name.$invalid"></div>
            <input type="text" class="form-control" placeholder="first name" name="first_name" id="first_name"
              ng-model="contact[checkUrl].first_name" required>
            <input type="hidden" class="form-control" name="contact_id" id="contact_id"
              ng-model="contact[checkUrl].contact_id" />
          </div>
          <div class="form-group">
            <label for="last_name">Last Name:</label>
            <div ng-show="myForm.last_name.$invalid"></div>
            <input type="text" class="form-control" placeholder="last name" name="last_name" id="last_name"
              ng-model="contact[checkUrl].last_name" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <div ng-show="myForm.email.$invalid"></div>
            <input type="text" class="form-control" placeholder="email" name="email" id="email"
              ng-model="contact[checkUrl].email" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <div ng-show="myForm.phone.$invalid"></div>
            <input type="text" class="form-control" placeholder="phone number" name="phone" id="phone"
              ng-model="contact[checkUrl].phone" required>
          </div>
          <div class="form-group">
            <label for="message">Your message:</label>
            <div ng-show="myForm.message.$invalid"></div>
            <textarea class="form-control" rows="5" name="message" id="message" ng-model="contact[checkUrl].message"
              maxlength="255" required></textarea>
          </div>
          <div class="form-group">
            <button ng-show="checkUrl===undefined" class="btn btn-outline-light"
              ng-click="(myForm.first_name.$valid && myForm.last_name.$valid && myForm.email.$valid && myForm.phone.$valid && myForm.message.$valid) 
                ? function_contact_form(contact[checkUrl].first_name,contact[checkUrl].last_name,contact[checkUrl].email,contact[checkUrl].phone,contact[checkUrl].message,contact[checkUrl].contact_id) : function_error()">SEND</button>
          </div> 
        </form> 
      </div>
    </div>
    <div class="col-6">
      <p class="text-light text-center display-4">Our location</p>
      <div class="container m-4 p-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47926.21899173466!2d21.513204112751204!3d41.34390464250806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1356ebf17ddb9787%3A0xe5931e06fb2150c1!2sPrilep!5e0!3m2!1sen!2smk!4v1610130712772!5m2!1sen!2smk"
          width="500" height="480" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>
  </div>
  

</div>