<div class="container marketing" style="background-color:#E5BE8E;opacity:0.9;">
  <div class="text-center">
      <h1 class="display-4 text-muted">WELCOME to <span class="text-light">TRAVEL AGENCY</span></h1>
      <p class="display-6">OUR MOTO IS “<span class="text-light">WORK</span>, <span class="text-muted">TRAVEL</span>,
                           <span class="text-light">SAVE</span>, <span class="text-muted">REPEAT</span>.”</p>
      <br>
      <br>
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading text-light">Meet Lara Johnson. <span class="text-muted">She is your spanish guide.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto rounded-circle" width="300" height="300" src="uploads/lara.jpg" alt="Nina" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-light">Meet John Jones. <span class="text-muted">He is your italian guide.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto rounded-circle" width="300" height="300" src="uploads/josh.jpg" alt="John" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading text-light">Meet Nick Miller <span class="text-muted">He is your french guide.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto rounded-circle" width="300" height="300" src="uploads/nick.jpg" alt="Nick"/>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-light">Meet Nina Smith. <span class="text-muted">She is your english guide.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto rounded-circle" width="300" height="300" src="uploads/nina.jpg" alt="Lara"/>
    </div>
  </div>
  
  <hr class="featurette-divider">

</div><!-- /.container -->
</div>