<div class="container" style="background-color:#E5BE8E;opacity:0.9;">
    <div class="p-4 p-md-5 mb-4 text-white text-center rounded">
        <div>
          <article class="blog-post">
            <h2 class="blog-post-title">{{blog_post[checkUrl].post_title}}</h2>
            <p>{{blog_post[checkUrl].post_text}}</p>
          </article><!-- /.blog-post -->
        </div>
        <div>
          <img class="mx-auto img-thumbnail" src="uploads/{{blog_post[checkUrl].post_img}}" alt="{{blog_post[checkUrl].post_img}}" width="300" height="300">
        </div>
    </div>


</div>